<div class="container">
    <h1 class="main-title">Nuestros productos</h1>
    {{#if selectedCategory}}
        <h2 class="category-subtitle">Categoría: {{selectedCategory}}</h2>
    {{/if}}

    <div class="products-container">
        {{#each products}}
            <div class="product-card">
                {{#if this.thumbnails}}
                    <img src="/img/productos/{{this.thumbnails}}" alt="{{this.title}}" class="product-img">
                {{else}}
                    <img src="/img/product.jpg" alt="Imagen por defecto" class="product-img">
                {{/if}}
                <h2 class="product-name">{{this.title}}</h2>
                <p class="product-price">${{this.price}}</p>
                <p class="product-desc">{{this.description}}</p>
            </div>
        {{/each}}
    </div>

    <div class="pagination-links">
        {{#each links}}
        <a href="{{this.link}}" class="page-link">{{this.text}}</a>
        {{/each}}
    </div>
</div>