<div>
    <h1>My Ecommerce</h1>

    <div>
        {{#each products}}
            <div style="border: 1px solid black; margin: 10px; padding: 10px; width: 200px;">
                <h2>{{this.title}}</h2>
                <p>Price: ${{this.price}}</p>
                <p>Description: {{this.description}}</p>
            </div>
        {{/each}}
    </div>

    <div>
        {{#each links}}
        <a href="{{this.link}}">{{this.text}}</a>
        {{/each}}
    </div>
</div>